<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <pn-button
      v-on:click="changeLanguage"
      appearance="dark"
      icon="boxes"
      left-icon="true"
    >
      Change Language: {{ lang }}
    </pn-button>
    <br />
    <br />
    <pn-input label="Input field pn-input" />
  </div>
</template>

<script>
import store from "@/store";
import { mapState } from "vuex";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  methods: {
    changeLanguage() {
      store.dispatch({
        type: "changeLanguage",
        lang: "sv",
      });
    },
  },
  computed: {
    ...mapState({ lang: state => state.lang }),
  },
};
</script>
