<template>
  <div id="app">
    <div style="width: 100px; height: auto; margin: 0 auto">
      <pn-illustration illustration="pex" />
    </div>
    <HelloWorld msg="Welcome to vue.js template" />
    <br />
    <br />
    <pn-button appearance="dark">
      Small: false
    </pn-button>
    <br />
    <br />
    <pn-button small appearance="dark" v-on:click="() => (openModal = true)">
      Small: true open modal
    </pn-button>
    <br />
    <br />
    <div style="max-width: 40em; padding: 2em; margin: auto;">
      <pn-select label="select">
        <pn-option value="1">one</pn-option>
        <pn-option value="2">two</pn-option>
        <pn-option value="3" selected>three</pn-option>
        <pn-option value="4">four</pn-option>
        <pn-option value="5">five</pn-option>
      </pn-select>
    </div>
    <br />
    <br />
    <pn-tile illustration="person-package-2">
      <ul>
        <li>High Free limits usage</li>
        <li>Access to Statistics</li>
        <li>API Status Dashboard</li>
        <li>Technical Support</li>
        <li>Access to More APIs</li>
        <li>
          Billed over Free limits usage
        </li>
      </ul>
    </pn-tile>

    <pn-modal :open="openModal">
      <h1>Example modal header</h1>
      <p>
        Drove Hardly addled sun's expenses. Licensed ought upset tree struggle
        grab Garulf love. Shoulders Shadowfax death hard-won explanation bowmen
        starve judgment. Goblinses rides spike other's golf eaten happening
        mingled. Seems calls missed thick Durin's journeying proof drain. Butter
        Ring-bearer crawling killed brewing unleashed acts sapphire coneys
        gangrel sense injuries! Hear my voice. Come back to the light. Stand
        mushrooms surprises invitations Barad-dur? Mellon embrace glory. Grew
        Thorin's start coast realm yearns?
      </p>

      <div slot="buttons">
        <pn-button appearance="light">Go back to start</pn-button>
        <pn-button>Save changes</pn-button>
      </div>
    </pn-modal>

    <router-view class="view-container" />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  data() {
    return {
      openModal: false,
    };
  },
  components: {
    HelloWorld,
  },
};
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
pn-tile {
  .pn-tile {
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  p.sub-headline {
    color: $black;
  }

  ul {
    // list-style-type: none;
  }

  li {
    margin: 1em 0;
    text-align: left;
  }
}
</style>
